.bienvenido {
  margin: 0.5rem!important;
  text-align: center;
}

.inicio {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
  }
  
  .inicio h1 {
    margin: 5rem;
  }
  
.ordenarProd {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ordenarCat {
  display: flex;
  justify-content: center;
}

