.listProductos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.productos {
  margin: 1rem;
  text-align: center;
}

.productos img {
  width: 200px;
  height: 250px;
  border-radius: .3rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease;
}

.productos img:hover {
  border: solid 1px purple;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}