.navegador{
    background-color: pink;
    padding: .5rem;
    display: flex;
  }
  
  .iconoMarca{
    width: 8rem;
    list-style: none;
  }
  
  .navUl{
    width: 100%;
    display: flex;
  }
  
  .divUl{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navUl li{
    list-style: none;
    margin-right: 2rem;
  }
  
  .navUl li a{
    text-decoration: none;
    color: black;
  }
  
  .navUl li a:hover{
    color: white;
  }
  
  .logo{
    margin-right: .5rem;
    margin-left: .5rem;
  }
  
  nav a.active {
    color: #eee;
  }