*{
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --primary-color: red;
  --secondary-color: blue;
  --text-primary: '#ff1235';
  --text-secondary: white;
  --bg-primary: #ffffff;
  --bg-secondary: pink;
  --transition-speed: 200ms;
}

